@import 'meyers-rest.css';
@import 'reset.css';

body {
	height: 100vh;
	background: url('../images/pallet-town.png') no-repeat fixed center
		center/cover;
}

/* title section */

.heading {
	max-width: 100%;
}

.site-title {
	max-width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #cc0000;
}

.site-title picture {
	padding: 10px 20px;
}

.pokedex {
	width: 250px;
}

.pokeball img {
	width: 50px;
}

/* gallery */

main {
	max-width: 100%;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

audio {
	margin-bottom: 15px;
}
.pokedex-gallery {
	width: min(95%, 800px);
	margin: 0 auto;
	display: flex;
	align-items: stretch;
	text-align: center;
	flex-wrap: wrap;
}

.pokemon {
	width: min(33.33%, 30%);
	border: 4px solid #cc0000;
	margin: 5px;
	flex-grow: 1;
	background-color: rgb(255, 255, 255, 0.6);
}

.pokemon h2 {
	background-color: #cc0000;
	font-family: monaco;
	color: #fff;
	padding: 10px;
	font-size: 14px;
}

/* pokemon type */
.grass {
	border: 4px solid #4e8234;
}
.grass h2 {
	background-color: #4e8234;
}

.water {
	border: 4px solid #6890f0;
}
.water h2 {
	background-color: #6890f0;
}

.bug {
	border: 4px solid #82901c;
}
.bug h2 {
	background-color: #82901c;
}

.flying {
	border: 4px solid #a890f0;
}
.flying h2 {
	background-color: #a890f0;
}

.normal {
	border: 4px solid #a8a878;
}
.normal h2 {
	background-color: #a8a878;
}

.poison {
	border: 4px solid #a040a0;
}
.poison h2 {
	background-color: #a040a0;
}

.electric {
	border: 4px solid #f8d030;
}
.electric h2 {
	background-color: #f8d030;
}

.ground {
	border: 4px solid #e0c068;
}
.ground h2 {
	background-color: #e0c068;
}

.fighting {
	border: 4px solid #7d1f1a;
}
.fighting h2 {
	background-color: #7d1f1a;
}

.ghost {
	border: 4px solid #705898;
}
.ghost h2 {
	background-color: #705898;
}

.psychic {
	border: 4px solid #f85888;
}
.psychic h2 {
	background-color: #f85888;
}

.ice {
	border: 4px solid #98d8d8;
}
.ice h2 {
	background-color: #98d8d8;
}

.dragon {
	border: 4px solid #7038f8;
}
.dragon h2 {
	background-color: #7038f8;
}

.pokemon:hover {
	scale: 1.08;
}

@media (min-width: 600px) {
	.pokemon h2 {
		font-size: 18px;
	}
}
